---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UNSPLASH_ID>&count=1&query=san%20francisco
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_ID>&count=1&page=853&query=san+francisco>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_ID>&count=1&page=2&query=san+francisco>;
        rel="next"
      X-Total:
      - '8522'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"total":8522,"total_pages":853,"results":[{"id":"gZXx8lKAb7Y","created_at":"2017-08-01T09:42:07-04:00","updated_at":"2020-07-28T01:19:55-04:00","promoted_at":null,"width":6000,"height":3375,"color":"#272120","description":null,"alt_description":"Golden
        Gate Bridge during daytime","urls":{"raw":"https://images.unsplash.com/photo-1501594907352-04cda38ebc29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE1MzY0MH0","full":"https://images.unsplash.com/photo-1501594907352-04cda38ebc29?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE1MzY0MH0","regular":"https://images.unsplash.com/photo-1501594907352-04cda38ebc29?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE1MzY0MH0","small":"https://images.unsplash.com/photo-1501594907352-04cda38ebc29?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE1MzY0MH0","thumb":"https://images.unsplash.com/photo-1501594907352-04cda38ebc29?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE1MzY0MH0"},"links":{"self":"https://api.unsplash.com/photos/gZXx8lKAb7Y","html":"https://unsplash.com/photos/gZXx8lKAb7Y","download":"https://unsplash.com/photos/gZXx8lKAb7Y/download","download_location":"https://api.unsplash.com/photos/gZXx8lKAb7Y/download"},"categories":[],"likes":532,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"RHciuJjGD7g","updated_at":"2020-07-28T00:03:18-04:00","username":"mvdheuvel","name":"Maarten
        van den Heuvel","first_name":"Maarten","last_name":"van den Heuvel","twitter_username":"mvdheuvel","portfolio_url":"https://paypal.me/mvdheuvel","bio":"Find
        me on Twitter and Instagram @mvdheuvel","location":"Rotterdam, The Netherlands","links":{"self":"https://api.unsplash.com/users/mvdheuvel","html":"https://unsplash.com/@mvdheuvel","photos":"https://api.unsplash.com/users/mvdheuvel/photos","likes":"https://api.unsplash.com/users/mvdheuvel/likes","portfolio":"https://api.unsplash.com/users/mvdheuvel/portfolio","following":"https://api.unsplash.com/users/mvdheuvel/following","followers":"https://api.unsplash.com/users/mvdheuvel/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1585057973925-113e2c4b48a4image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1585057973925-113e2c4b48a4image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1585057973925-113e2c4b48a4image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"mvdheuvel","total_collections":4,"total_likes":34,"total_photos":76,"accepted_tos":true},"tags":[{"type":"search","title":"san
        francisco"},{"type":"landing_page","title":"california","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"travel","pretty_slug":"Travel"},"subcategory":{"slug":"california","pretty_slug":"California"}},"title":"California
        Pictures","subtitle":"Download free California images","description":"Choose
        from a curated selection of California photos. Always free on Unsplash.","meta_title":"750+
        Stunning California Pictures [Scenic Travel Photos] | Download Free Images
        on Unsplash","meta_description":"Download the perfect california pictures.
        Find over 100+ of the best free california images. Free for commercial use
        \u2713 No attribution required \u2713 Copyright-free \u2713","cover_photo":{"id":"64wmTdsbcYU","created_at":"2018-05-22T09:14:23-04:00","updated_at":"2020-07-28T01:34:58-04:00","promoted_at":"2018-05-23T07:05:02-04:00","width":4912,"height":6877,"color":"#F1A35C","description":"Driving","alt_description":"empty
        gray asphalt road","urls":{"raw":"https://images.unsplash.com/photo-1526994636733-4c05e8e063fb?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1526994636733-4c05e8e063fb?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb","regular":"https://images[...]
