---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_API_KEY>&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 03 Aug 2020 21:00:47 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-2079871887"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=223825411"}]}]}'
  recorded_at: Mon, 03 Aug 2020 21:00:47 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1596487992,"sunrise":1596456076,"sunset":1596507046,"temp":85.15,"feels_like":80.85,"pressure":1021,"humidity":33,"dew_point":52.84,"uvi":10.4,"clouds":40,"visibility":10000,"wind_speed":9.17,"wind_deg":320,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1596484800,"temp":85.15,"feels_like":83.86,"pressure":1021,"humidity":33,"dew_point":52.84,"clouds":40,"visibility":10000,"wind_speed":3.85,"wind_deg":51,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1596488400,"temp":87.6,"feels_like":83.57,"pressure":1017,"humidity":26,"dew_point":48.51,"clouds":52,"visibility":10000,"wind_speed":6.58,"wind_deg":49,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1596492000,"temp":89.26,"feels_like":84.36,"pressure":1014,"humidity":22,"dew_point":45.46,"clouds":64,"visibility":10000,"wind_speed":6.8,"wind_deg":42,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.35,"rain":{"1h":0.25}},{"dt":1596495600,"temp":87.66,"feels_like":83.21,"pressure":1014,"humidity":22,"dew_point":44.15,"clouds":72,"visibility":10000,"wind_speed":5.46,"wind_deg":184,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.28,"rain":{"1h":0.16}},{"dt":1596499200,"temp":77.74,"feels_like":69.51,"pressure":1013,"humidity":39,"dew_point":50.83,"clouds":75,"visibility":10000,"wind_speed":15.12,"wind_deg":174,"weather":[{"id":500,"main":"Rain","description"[...]
