---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_API_KEY>&location=San%20Francisco
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 03 Aug 2020 20:59:26 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"San
        Francisco"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"San
        Francisco","adminArea5Type":"City","adminArea4":"San Francisco County","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039201","unknownInput":"","type":"s","latLng":{"lat":37.78008,"lng":-122.420168},"displayLatLng":{"lat":37.78008,"lng":-122.420168},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=37.78008,-122.420168|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1338289211"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"San
        Francisco","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"PROVINCIA
        DE ESMERALDAS","adminArea3Type":"State","adminArea1":"EC","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=37.78008&lon=-122.420168&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.78,"lon":-122.42,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1596487865,"sunrise":1596460522,"sunset":1596510971,"temp":69.33,"feels_like":58.86,"pressure":1017,"humidity":53,"dew_point":51.49,"uvi":9.78,"clouds":20,"visibility":10000,"wind_speed":19.46,"wind_deg":310,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1596484800,"temp":69.33,"feels_like":64.26,"pressure":1017,"humidity":53,"dew_point":51.49,"clouds":20,"visibility":10000,"wind_speed":9.86,"wind_deg":254,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1596488400,"temp":68.99,"feels_like":62.87,"pressure":1017,"humidity":55,"dew_point":52.18,"clouds":10,"visibility":10000,"wind_speed":12.08,"wind_deg":261,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1596492000,"temp":68.77,"feels_like":60.94,"pressure":1016,"humidity":57,"dew_point":52.93,"clouds":4,"visibility":10000,"wind_speed":15.52,"wind_deg":273,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01[...]
